<h1>Dì la tua!</h1>

<div>
    <div class="col-12 mt-5">
        <h2>Contattaci!</h2>
        <form onsubmit="Contattaci(event)">
            <div class="mb-3">
                <label for="contact-email" class="form-label">Email</label>
                <input type="email" class="form-control" id="contact-email" />
            </div>

            <div class="mb-3">
                <label for="contact-name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="contact-name" />
            </div>

            <div class="mb-3">
                <label for="contact-title" class="form-label">Titolo</label>
                <input type="text" class="form-control" id="contact-title" />
            </div>

            <div class="mb-3">
                <label for="contact-text" class="form-label">TestoMessaggio</label>
                <textarea class="form-control" id="contact-text" rows="10"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Invia" />
        </form>
    </div>
</div>