

<div class="text-center">
    <h1>Qui troveremo tutti i dettagli delle nostre pizze</h1>
</div>





<div class="container text-dark">
    <h2>Pizza Id</h2>
 
    <a  class="btn btn-danger mt-2 " href="@Url.Action("Index","Home")">Indietro</a>
</div>



 






