

<div class="text-center">
    <h1>Qui troveremo tutti i dettagli delle nostre pizze</h1>
</div>

@model int

<div class="container text-dark">
    <div class="ContainerDetail">

    </div>
    <a  class="btn btn-danger mt-2 " href="@Url.Action("Index","Home")">Indietro</a>
</div>


    <script type="text/javascript">
    
        const id = @Model;
        
       loadPizza(id);
        function loadPizza(id) {
            axios.get(`/api/pizza/${id}`).then(res => { 
                console.log("ok", res.data);
                //debugger
                const pizza = res.data;

                if (pizza == null){
                    document.querySelector('.ContainerDetail').innerHTML = "";
                }
                else{
                    document.querySelector('.ContainerDetail').innerHTML +=
                    `
                        <div class="row">
                            <div>
                                <img src="${pizza.pathImage}"/>
                            </div>
                            <div class="flex-column">
                                <h2>${pizza.nomePizza}</h2>
                                <p>${pizza.descrizione}</p>
                                <p>Categoria: ${pizza.categorie.nomeCategoria}</p>
                                <p>Ingredienti: ${pizza.ingredienti.nomeIngrediente}</p>
                                <p>Prezzo: ${pizza.prezzo} euro</p>
                            </div>
                        </div>
                    `;
                }
             }).catch(e => console.log(e));
        }
    </script>


 






