@{
    ViewData["Title"] = "Pizza Experis";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto nella Pizzeria Experis</h1>
    
</div>
<div class="container">
    <div class="jumbo"></div>
     <div class="py-2 col-12">
            <input id="search-input" type="text" placeholder="Inserisci qui la pizza" onkeyup="search"></input>
      </div>
    <div class="containerPizzeJson d-flex flex-wrap">
        <h1 class="col-12">Ecco qui le nostre pizze in formato Json</h1>
    </div>
</div>


<script type="text/javascript" language="javascript">
      document.getElementById("search-input").addEventListener("keyup", search);
      function search(event) {
        var value = document.getElementById("search-input").value;
        loadList(value);
     }
    loadList(null);
    function loadList(search) {
        axios.get('/api/pizza',{ params: {search:search}}).then((response) => {
             console.log(response);
            if (response.status == 200) {
                document.querySelector('.containerPizzeJson').innerHTML = "";
                response.data.forEach(pizza => {
                    console.log('pizza', pizza);
                    document.querySelector('.containerPizzeJson').innerHTML +=
                       `
                        <div class="card col-3 text-center gx-3" >
                                <img style="height:300px" src="${pizza.pathImage}" class="post-image text-center" />
                                <h2 class="text-danger"> ${pizza.nomePizza}</h2>
                                <h3 class="text"> ${pizza.categorie.nomeCategoria}</h3>
                                <p>Ingredienti: ${pizza.ingredienti.nomeIngrediente}</p>
                                <p class="fw-bold">Prezzo: ${pizza.prezzo}&euro; </p>
                                <a href = "/Home/Details/${pizza.id}" class="btn-dark text-decoration-none text-black rounded-pill py-2 px-4 text-white">Guarda</a>
                                <a href = "/Pizza/Edit/${pizza.id}" class="btn-dark text-decoration-none text-green rounded-pill py-2 px-4 text-white">Modifica</a>  
                                <a href = "/Home/Delete/${pizza.id}" class="btn-dark text-decoration-none text-green rounded-pill py-2 px-4 text-white">Elimina</a>  
                        </div>
                        `;
                });
               
            }
        }).catch(e => {
            console.log(e);
        });
    }
</script>